@import "tailwindcss";
@theme {
    --font-playfair:"Playfair Display";
}
@layer components{
    .card-style{
        @apply bg-green-500 w-40 h-40 rounded-lg 
    }
    .display{
        display: none;
    }

    .visibity{
        visibility: hidden;
    }
    .flex-style{
        background-image: url(../images/cp.jpeg);
        height: 160px;
        width: 160px;
        border-radius: 8px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .flex-style1{
        background-image: linear-gradient(orange , yellow );
        height: 160px;
        width: 160px;
        border-radius: 8px;
    }
    .card-fillter{
        background-color: rgba(102, 101, 101, 0.1);
          height: 160px;
        width: 160px;
        border-radius: 8px;
        
    }
    .bookBox{
        @apply w-full h-fit grid-flow-col grid grid-cols-2 gap-4 
    }
    .h1Box{
        @apply text-3xl font-bold text-center
    }
    .pBox{
        @apply text-base text-justify
    }
    .bookContainer{
        @apply w-full h-screen flex justify-center items-center border p-4
    }
    .imgBox{
        @apply w-11/12 h-52 rounded-md mx-auto p-4
    }
    .boxText{
        @apply w-full h-screen rounded-md flex gap-4 p-3 flex-col
    }

}